@import url('https://fonts.googleapis.com/css2?family=Niconne&family=Sixtyfour+Convergence&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Niconne&family=Sixtyfour+Convergence&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* Estilo geral */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #fff;
}

:root {
    --principal-cor: #F2E7DD;
  }
/* Cabeçalho */
.navbar{
    padding: 20px;
    background-color: var(--principal-cor);
}
.navbar .container-fluid .navbar-brand {
    font-size: 28px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.navbar .container-fluid{
    padding: 0px 15% 0px 20%;
}
.navbar .container-fluid .navbar-nav .nav-item a{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding-right: 8px;
}