@import url('https://fonts.googleapis.com/css2?family=Niconne&family=Sixtyfour+Convergence&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Niconne&family=Sixtyfour+Convergence&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
/* Estilo geral */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    scroll-behavior: smooth;
}

:root {
    --principal-cor: #F2E7DD;
  }
/* Cabeçalho */
.navbar{
    padding: 20px;
    background-color: #f4ddc9;
}
.navbar .container-fluid .navbar-brand {
    font-size: 28px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.navbar .container-fluid{
    padding: 0px 15% 0px 20%;
}
.navbar .container-fluid .navbar-nav .nav-item a{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding-right: 8px;
}

/* Seção hero */

.hero {
    height: 100vh;
    background: url('../img/BackGroundBruna.jpeg') no-repeat center center/cover;
    position: relative;
}
.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color: white;
}
.hero p {
    font-size: 16px;
    margin-bottom: 30px;
    color: white;
}
.hero h3{
    color: white;
}
.services {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px 20px;
    background: rgba(0, 0, 0, 0.8); /* Fundo semitransparente */
    text-align: center;
}
.service-container {
    display: flex;
    gap: 40px;
    flex-wrap: wrap; /* Para responsividade */
}
.service-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.service-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.service-box h3 {
    font-size: 24px;
    margin-bottom: 20px;
}
.more-text {
    overflow: hidden; /* Ocultar o conteúdo que ultrapassa o limite */
    text-overflow: ellipsis; /* Adicionar "..." no final do texto cortado */
    display: -webkit-box; /* Necessário para suporte ao WebKit */
    -webkit-box-orient: vertical; /* Orientação vertical das linhas */
    -webkit-line-clamp: 3; /* Limitar o texto a 3 linhas no WebKit */
    line-clamp: 3; /* Propriedade padrão para navegadores modernos */
    transition: max-height 0.5s ease; /* Animação para alterações de altura */
    max-height: calc(1.5em * 3); /* Altura correspondente a 3 linhas */
    word-break: break-word; /* Quebrar palavras longas */
}
.service-box p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: max-height 0.5s ease; /* Animação para expansão */
    word-break: break-word;
    text-align: center;
    text-align: justify;
}
.service-box button {
    background-color: #f5f5f500;
    border: 1px white solid;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.service-box button:hover {
    background-color: #ffffff4c;
} 
/* Conteúdo */
.content {
    padding: 50px 20px;
    text-align: center;
    background: whitesmoke;
}
.content h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.content p {
    font-size: 18px;
    line-height: 1.6;
}
/* Bruna sobre mim*/
.aboutMe{
    display: flex;
    padding: 50px 80px;
    background: var(--principal-cor);
}
.aboutMe-container{
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.sobreMim{
    width: 50%;
    color: black;   
    margin: 0px 0px 0px 100px;
}
.sobreMim h2{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    text-align: justify;
}
.aboutmeContainer{
    width: 500px;
}
.aboutmeContainer h3, p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-align: justify;
    word-break: break-word;
}
.sobreMimImage img{
    width: 570px;
    height: 550px;
    border-radius: 50%;
}
.button {
    padding: 10px 20px;
    background-color: #6C63FF;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.button:hover {
    background-color: #5753d4;
}



.whatsapp-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    border: 2px #d59e6b solid;
    border-radius: 20px;
    background-color: #ff000000;
}
.whatsapp-button a{
    margin: 15px 5px;
    text-decoration: none;
    color: #633000;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
}
.whatsapp-button img{
    width: 25px;
    height: 25px;
}
/* FAQS start */
.accordion{
    background-color: #f4ddc9;
    ;
    height: 80vh;
    padding: 50px 80px;
}
.accordion .title{
    font-size: 28px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}
.accordion .container-accordion{
    display: flex;
    align-items: end;
    justify-content: center;
}
.accordion .image-box{
    height: 360px;
    width: 300px;
  }
.accordion .image-box img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.accordion .accordion-text{
    width: 60%;
  }
.accordion .accordion-text .faq-text{
margin-top: 25px;
height: 290px;
overflow-y: auto;
}
.faq-text::-webkit-scrollbar{
display: none;
}
.accordion .accordion-text li{
list-style: none;
cursor: pointer;
}
.accordion-text li .question-arrow{
display: flex;
align-items: center;
justify-content: space-between;
}
.accordion-text li .question-arrow .question{
font-size: 18px;
font-weight: 500;
color: #595959;
transition: all 0.3s ease;
}
.accordion-text li .question-arrow .arrow{
font-size: 20px;
color: #595959;
transition: all 0.3s ease;
}
.accordion-text li.showAnswer .question-arrow .arrow{
transform: rotate(-180deg);
}
.accordion-text li:hover .question-arrow .question,
.accordion-text li:hover .question-arrow .arrow{
color: #000000;
}
.accordion-text li.showAnswer .question-arrow .question,
.accordion-text li.showAnswer .question-arrow .arrow{
color: #000000;
}
.accordion-text li .line{
display: block;
height: 2px;
width: 100%;
margin: 10px 0;
background: rgba(0, 0, 0, 0.1);
}
.accordion-text li p{
width: 92%;
font-size: 15px;
font-weight: 500;
color: #595959;
display: none;
}
.accordion-text li.showAnswer p{
display: block;
}
/* FAQS End*/
.contact{
    height: 98vh;
    background: var(--principal-cor);
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-container{
    background-color: #FBF7F4;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 50px 0px;
    height: 500px;
}
.contact-container h1{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 28px;
    padding-top: 45px;
    border-bottom: 1px black solid;
}
.contact-container img{
    width: 70px;
    margin: 15px 0px;
}
.contact .contact-container p{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-Icon img{
    width: 80px;
}
.contact-text h2{
    width: 200px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    word-wrap: break-word;
}
/* Rodapé */
.footer {
    background-color: #D9B99D;
    color: white;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
}

.footer-section {
    margin: 10px;
    flex: 1;
    min-width: 250px;
}

.footer-section h2,
.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section p {
    margin: 5px 0;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.social-icons img{
    width: 25px;
    height: 25px;
}

.social-icons .icon {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

.social-icons .icon:hover {
    color: #008cba;
}

.footer-section form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-section input {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.footer-section button {
    background-color: #A75F37;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.footer-section button:hover {
    background-color: #005f7a;
}
.footer-section p a {
    color: #A75F37;
    font-weight: 600;
}

.footer-bottom {
    margin-top: 20px;
    text-align: center;
    font-size: 0.9em;
    opacity: 0.8;
}
.footer-container a img{
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 1200px) {
    .service-container {
        display: flex;
        gap: 40px;
        justify-content: center;
    }
    .sobreMim {
        width: 50%;
        color: black;
        margin: 0px 0px 0px 80px;
    }
    .sobreMimImage img {
        width: 370px;
        height: 350px;
        border-radius: 50%;
    }
    .service-box {
        background: rgba(255, 255, 255, 0.1);
        padding: 20px;
        border-radius: 10px;
        max-width: 350px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .hero{
        height: 150vh;
    }
  }
  

@media screen and (max-width: 900px) {
    .navbar .container-fluid .navbar-nav .nav-item a{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .service-container {
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .aboutMe-container {
        display: flex;
        gap: 80px;
        width: 100%;
        flex-direction: column-reverse;
    }
    .sobreMim {
        width: 50%;
        /* color: black; */
        margin: 0px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .aboutmeContainer {
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero{
        height: 150vh;
    }
    .service-box {
        width: 400px;
    }

}


@media screen and (max-width: 739px) {
    .navbar .container-fluid {
        padding: 0px 5% 0px 10%;
    }
    .image-box{
        display: none;
    }
    .accordion .accordion-text {
        width: 90%;
    }
}
@media screen and (max-width: 580px) {
    .contact-container{
        width: 400px;
    }
    .accordion {
        padding: 50px;
    }

}
@media screen and (max-width: 480px) {
    .navbar {
        flex-direction: column;
        padding: 5px;
        height: auto;
    }

    .navbar-links {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .hero h1 {
        font-size: 32px;
    }

    .hero p {
        font-size: 14px;
    }

    .service-box {
        padding: 10px;
        width: 290px;
    }

    .aboutMe-container {
        flex-direction: column;
        gap: 20px;
    }

    .sobreMim {
        text-align: center;
        margin: 0;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        text-align: center;
    }
    .aboutMe-container {
        display: flex;
        gap: 80px;
        width: 100%;
        flex-direction: column-reverse;
    }
    .sobreMim {
        width: 50%;
        margin: 0px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sobreMimImage img {
        width: 270px;
        height: 250px;
        border-radius: 50%;
    }
    .aboutmeContainer h3, p {
        width: 250px;
    }
    .aboutmeContainer {
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .aboutmeContainer {
        width: 250px;
        display: flex
;
        flex-direction: column;
        align-items: center;
    }
    .hero {

        background: url('../img/BrunaAguirre.jpeg') no-repeat center center/cover;

    }
    .footer-container p{
        text-align: center;
    }
    .footer-bottom p{
        text-align: center;
    }

    .footer-section p{
        text-align: center;
    }
    .contact-container{
        width: 300px;
    }
    .accordion .title {
        font-size: 22px;
    }
        
        
}